.small-container {
  display: grid;
  place-items: center;
  background-color: rgba(196, 150, 150, 0.63);
  height: 100%;
}
.hello {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  border-radius: 20px;
}
.altmessage {
  margin: auto;
}
.img {
  height: 12rem;
  border-radius: 50%;
}
