.card div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card div img {
  width: 2rem;
}
.card {
  background-color: rgba(128, 128, 128, 0.265);
}
.cardImage {
  height: 92px;
  border-radius: 10px;
}
.cardImage:hover {
  height: 96px;
  opacity: calc(50%);
}
.profile {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  justify-content: center;
  border-radius: 10px;
}
