.cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}
.card div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.card div img {
  width: 2rem;
  height: auto;
}
.card {
  background-color: rgba(128, 128, 128, 0.265);
  display: grid;
  place-items: center;
  margin: 1rem;
}
.cardImage {
  height: 92px;
  border-radius: 10px;
}
.cardImage:hover {
  height: 96px;
  opacity: calc(50%);
}
.profile {
  display: flex;
  flex-direction: row;
  background-color: antiquewhite;
  justify-content: center;
  border-radius: 10px;
  margin: 1rem;
}
.ajoke {
  background-color: greenyellow;
  height: auto;
  border-radius: 10px;
}
span {
  font-size: larger;
  font-weight: 900;
}
