.test {
  color: green;
}
button {
  background-color: green;
  color: white;
}
.count {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin: 0 auto;
  width: 70%;
}
.num {
  color: red;
  font-size: xx-large;
  font-family: "Courier New", Courier, monospace;
  text-shadow: 1px 2px green;
}
