.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
  justify-content: center;
  gap: 2rem;
}
.disciple {
  background-color: rgb(214, 100, 100);
  text-align: left;
}
.number {
  background-color: black;
  color: white;
  font-size: larger;
  margin-left: 4px;
  width: 5%;
  display: grid;
  place-items: center;
  height: 36px;
  border-radius: 50%;
}
