.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(540px, 1fr));
  justify-content: center;
  gap: 2rem;
}
.disciple {
  background-color: rgb(214, 100, 100);
  text-align: left;
}
